{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>{% trans  "Train and apply custom detectors using region annotations"%}</h2>
        </div>
    </div>
</div>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>{% trans "Train custom YOLO detector" %}</h4>
                </div>
                <div class="box-body">
                    <form role="form" action="/detectors/"  method="post" >
                            <div class="row">
                            <div class="col-lg-6"><div class="form-group">
                                <label for="name">{% trans "Detector name" %}</label>
                                <input id="id_name" name="name" class="form-control" type="text" required="" placeholder={% trans  "provide a name"%}>
                            </div></div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="excluded_videos">{% trans "Exclude video/dataset" %}</label>
                                    <select class="js-example-basic-multiple" multiple="multiple" id="excluded_videos" name="excluded_videos" style="width:100%">
                                    {% for v in videos %}
                                        <option value="{{ v.pk }}">{{ v.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-6"><div class="form-group">
                                <label for="object_names">{% trans "Object names" %}</label>
                                <input id="object_names" name="object_names" class="form-control" type="text" placeholder={% trans "comma separated list of regions to by object_names" %}>
                            </div></div>
                            <div class="col-lg-6"><div class="form-group">
                                <label for="labels">{% trans "Labels" %}</label>
                                <input id="labels" name="labels" class="form-control" type="text" placeholder={% trans  "comma separated list of regions to by applied labels"%}>
                            </div></div>
                            </div>
                            <div class="form-group">
                                <label for="args">{% trans "Additional JSON arguments for customizing options such as number of phase 1/2 epochs, etc." %}</label>
                                <textarea class="form-control" name="args" rows="2" placeholder={% trans "Additional arguments as JSON { phase_2_epochs:50 } etc." %}></textarea>
                            </div>
                            {% csrf_token %}
                            <div style="text-align: center">
                                <button type="submit" name="action" value="estimate" class="pull-left btn btn-info"><i class="fa fa-list"></i> {% trans "Estimate training set"%}</button>
                                <button type="submit" name="action" value="train" class="pull-right btn btn-primary"><i class="fa fa-gears"></i> {% trans "Train detector" %}</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>{% trans "Detect objects using custom detector" %}</h4>
                </div>
                <div class="box-body">
                            <form role="form" action="/detectors/"  method="post" >
                            <div class="row">
                            <div class="col-lg-6"><div class="form-group">
                                    <label for="excluded_videos">{% trans "Select detector" %}</label>
                                    <select class="js-example-basic-single" id="detector_pk" name="detector_pk" style="width:100%">
                                    {% for k in detectors %}
                                        <option value="{{ k.pk }}">{{ k.name }}</option>
                                    {% endfor %}
                                    </select>
                            </div></div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="excluded_videos">{% trans "Select video/dataset" %}</label>
                                    <select class="js-example-basic-single" id="video_pk" name="video_pk" style="width:100%">
                                    {% for v in videos %}
                                        <option value="{{ v.pk }}">{{ v.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            </div>
                            {% csrf_token %}
                            <div style="text-align: center">
                                <button type="submit" style="margin: auto" name="action" value="detect" class="btn btn-info"><i class="fa fa-play"></i> {% trans "Apply detector" %}</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if estimate %}
        <div class="col-lg-12">
            <h4>{{ estimate.args }}</h4>
            <table class="table">

            </table>
        </div>

        {% endif %}

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>{% trans "Trained custom detectors" %}</h4>
                </div>
                <div class="box-body">
                <table class="table dataTables">
                <thead>
                <tr>
                    <th class="text-center">{% trans "Name" %}</th>
                    <th class="text-center">{% trans "Training frames" %}</th>
                    <th class="text-center">{% trans "Training boxes" %}</th>
                    <th class="text-center">{% trans "Objects" %}</th>
                    <th class="text-center">{% trans "Details" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for d in detector_stats %}
                    <tr>
                        <td>{{ d.name }} </td>
                        <td class="text-right">{{ d.frames_count }} </td>
                        <td class="text-right">{{ d.boxes_count }} </td>
                        <td>{{ d.classes }} </td>
                        <td class="text-center"><a href="/detectors/{{ d.pk }}"> details </a></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
        var excluded_videos_ids = $("#excluded_videos");
        excluded_videos_ids.select2({theme: "bootstrap"});
        var selected_video_id = $("#video_pk");
        selected_video_id.select2({theme: "bootstrap"});
        var selected_detector_id = $("#detector_pk");
        selected_detector_id.select2({theme: "bootstrap"});
    })
</script>
{% endblock %}
